<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Justification</title>
</head>
<body>
    <h1>Absence/Delay Justification</h1>
    <form method="POST">
        <label for="date">Date:</label>
        <input type="date" name="date" required><br>
        <label for="reason">Reason:</label>
        <textarea name="reason" required></textarea><br>
        <button type="submit">Submit Justification</button>
    </form>
    {% if is_admin %}
        <a href="{{ url_for('main.admin') }}">Voltar</a>
    {% else %}
        <a href="{{ url_for('main.employee') }}">Voltar</a>
    {% endif %}
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
        {% for category, message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>